{% extends "main.html" %}

{% block htmltitle %}
  <title>Polkadot Developer Docs</title>
{% endblock %}

{% block styles %}
	{{ super() }}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}">
{% endblock %}

{%- block container -%} 
  {% block content %}
    <div class="home-container md-typeset">
      <div class="hero-gradient">
        <div class="hero-section">
          <div class="column hero-content">
            <div>
              <h1>Polkadot Documentation</h1>
              <p>Your launchpad for all things Polkadot—access tools, guides, and resources to quickly start building custom chains, deploying smart contracts, and creating dApps.
              </p>
            </div>
            <div class="button-wrapper">
              <a href="develop/development-pathways/">
                <button class="md-button">Start building</button>
              </a>     
              <a href="https://polkadot.com/community" target="_blank" rel="noopener noreferrer">
                <button class="md-button secondary">Join the community</button>
              </a>
            </div>
          </div>
          <div class="column tutorial-cards">
            <div class="column">
              <a class="tutorial-card" href="">
                <div class="column"> 
                  <h3>Start building blockchains</h3>
                  <p>Kickstart your journey by learning how to get started with the Polkadot SDK to build and deploy custom blockchains.</p>
                </div>
                <div class="column">
                  <span class="md-icon">{% include ".icons/octicons/arrow-up-right-16.svg" %}</span>
                </div>
              </a>
              <a class="tutorial-card" href="">
                <div class="column">
                  <h3>Start building blockchains</h3>
                  <p>Kickstart your journey by learning how to get started with the Polkadot SDK to build and deploy custom blockchains.</p>
                </div>
                <div class="column">
                  <span class="md-icon">{% include ".icons/octicons/arrow-up-right-16.svg" %}</span>
                </div>
              </a>
              <a class="tutorial-card" href="">
                <div class="column">
                  <h3>Start building blockchains</h3>
                  <p>Kickstart your journey by learning how to get started with the Polkadot SDK to build and deploy custom blockchains.</p>
                </div>
                <div class="column">
                  <span class="md-icon">{% include ".icons/octicons/arrow-up-right-16.svg" %}</span>
                </div>
              </a>
            </div>
            <div cla class="column"ss="column">
              <a class="tutorial-card" href="">
                <div class="column">
                  <h3>Start building blockchains</h3>
                  <p>Kickstart your journey by learning how to get started with the Polkadot SDK to build and deploy custom blockchains.</p>
                </div>
                <div class="column">
                  <span class="md-icon">{% include ".icons/octicons/arrow-up-right-16.svg" %}</span>
                </div>
              </a>
              <a class="tutorial-card" href="">
                <div class="column">
                  <h3>Start building blockchains</h3>
                  <p>Kickstart your journey by learning how to get started with the Polkadot SDK to build and deploy custom blockchains.</p>
                </div>
                <div class="column">
                  <span class="md-icon">{% include ".icons/octicons/arrow-up-right-16.svg" %}</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="feature-gradient">
        <div class="feature-section">
          <div class="feature-intro">
            <h2>Your complete guide to building on Polkadot</h2>
            <p>Polkadot's enhanced developer docs provide all the guidance and resources you need to launch and scale your projects within the Polkadot ecosystem.</p>
          </div>
          <div class="featured-content">
            <a class="feature" href="develop/parachains/get-started/">
              <div class="column">
                <h3>Start building blockchains</h3>
                <p>Kickstart your journey by learning how to get started with the Polkadot SDK to build and deploy custom blockchains.</p>
              </div>
              <div class="column">
                <span class="md-icon">{% include ".icons/octicons/arrow-up-right-16.svg" %}</span>
              </div>
            </a>
            <a class="feature" href="develop/smart-contracts/">
              <div class="column">
                <h3>Develop smart contracts</h3>
                <p>Unlock the power of smart contracts on Polkadot, whether you're leveraging Wasm or working in an EVM environment.</p>
              </div>
              <div class="column">
                <span class="md-icon">{% include ".icons/octicons/arrow-up-right-16.svg" %}</span>
              </div>
            </a>
            <a class="feature" href="polkadot-protocol/architecture/">
              <div class="column">
                <h3>Explore architecture</h3>
                <p>Discover Polkadot's network structure and how it ensures security, scalability, and interoperability across chains.</p>
              </div>
              <div class="column">
                <span class="md-icon">{% include ".icons/octicons/arrow-up-right-16.svg" %}</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      
      <div class="cta-gradient">
        <div class="cta-section">
          <div class="final-cta">
            <div class="final-cta-content">
            <h2>What are you waiting for?</h2>
            <p>Get hands-on experience with Polkadot's in-depth tutorials. Covering everything from blockchain basics to advanced skills, our tutorials help you build expertise and start creating with confidence.</p>
            <a href="tutorials/">
              <button class="md-button secondary">See tutorials</button>
            </a>
          </div>
        </div>
        <div class="final-cta">
          <div class="final-cta-content">
            <h2>What are you waiting for?</h2>
            <p>Get hands-on experience with Polkadot's in-depth tutorials. Covering everything from blockchain basics to advanced skills, our tutorials help you build expertise and start creating with confidence.</p>
            <a href="tutorials/">
              <button class="md-button secondary">See tutorials</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
{%- endblock -%} 
