{% extends "main.html" %}

{% block htmltitle %}
  <title>Polkadot Developer Docs</title>
{% endblock %}

{% block styles %}
	{{ super() }}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}">
{% endblock %}

{%- block container -%} 
  {% block content %}
    <div class="home-container md-typeset">
        <div class="hero-section">
          <div class="column hero-content">
            <div>
              <h1>Polkadot Documentation</h1>
              <p>Your launchpad for all things Polkadot—access tools, guides, and resources to quickly start building custom chains, deploying smart contracts, and creating dApps.
              </p>
            </div>
            <div class="button-wrapper">
              <a href="develop/">
                <button class="md-button">Start building</button>
              </a>     
              <a href="https://polkadot.com/community" target="_blank" rel="noopener">
                <button class="md-button secondary">Join the community</button>
              </a>
            </div>
          </div>
          <div class="column tutorial-cards">
            <a class="tutorial-card" href="tutorials/polkadot-sdk/parachains/zero-to-hero/set-up-a-template/">
              <h3><span class="tutorial-number">❶</span> Create a chain in minutes</h3>
              <p>Fast-track your development with a preconfigured blockchain template.</p>
            </a>
            <a class="tutorial-card" href="tutorials/polkadot-sdk/parachains/zero-to-hero/build-custom-pallet/">
              <h3><span class="tutorial-number">❷</span> Customize your business logic</h3>
              <p>Design and tailor your blockchain's functionality to fit your needs.</p>
            </a>
            <a class="tutorial-card" href="tutorials/polkadot-sdk/parachains/zero-to-hero/deploy-to-testnet/">
              <h3><span class="tutorial-number">❸</span> Deploy your chain to Polkadot</h3>
              <p>Launch your blockchain on Polkadot's secure and scalable platform.</p>
            </a>
          </div>
        </div>

        <div class="feature-section">
          <div class="feature-intro">
            <h2>Your complete guide to building on Polkadot</h2>
            <p>Polkadot's enhanced developer docs provide all the guidance and resources you need to launch and scale your projects within the Polkadot ecosystem.</p>
          </div>
          <div class="featured-content">
            <a class="feature" href="develop/parachains/get-started/">
              <div class="column">
                <h3>Start building blockchains</h3>
                <p>Kickstart your journey by learning how to get started with the Polkadot SDK to build and deploy custom blockchains.</p>
              </div>
              <div class="column">
                <span class="md-icon">{% include ".icons/octicons/arrow-up-right-16.svg" %}</span>
              </div>
            </a>
            <a class="feature" href="develop/smart-contracts/">
              <div class="column">
                <h3>Develop smart contracts</h3>
                <p>Unlock the power of smart contracts on Polkadot, whether you're leveraging Wasm or working in an EVM environment.</p>
              </div>
              <div class="column">
                <span class="md-icon">{% include ".icons/octicons/arrow-up-right-16.svg" %}</span>
              </div>
            </a>
            <a class="feature" href="polkadot-protocol/architecture/">
              <div class="column">
                <h3>Explore architecture</h3>
                <p>Discover Polkadot's network structure and how it ensures security, scalability, and interoperability across chains.</p>
              </div>
              <div class="column">
                <span class="md-icon">{% include ".icons/octicons/arrow-up-right-16.svg" %}</span>
              </div>
            </a>
          </div>
        </div>
      
        <div class="cta-section">
          <div class="final-cta">
            <div class="final-cta-content">
            <h2>Turn ideas into reality</h2>
            <p>Get the funding you need to take your blockchain project to the next level with Polkadot's grants program.</p>
            <a href="https://polkadot.com/developers/grants" target="_blank" rel="noopener">
              <button class="md-button secondary">Discover grants</button>
            </a>
          </div>
        </div>
        <div class="final-cta">
          <div class="final-cta-content">
            <h2>Elevate your blockchain skills</h2>
            <p>Join the Polkadot Blockchain Academy to grow your Web3 expertise, with programs designed for all skill levels.</p>
            <a href="https://polkadot.com/blockchain-academy" target="_blank" rel="noopener">
              <button class="md-button secondary">Explore programs</button>
            </a>
          </div>
        </div>
    </div>
  </div>
  {% endblock %}
{%- endblock -%} 
