{% extends "main.html" %}

{% block htmltitle %}
  <title>Polkadot Developer Docs</title>
{% endblock %}

{% block styles %}
	{{ super() }}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}">
{% endblock %}

{%- block container -%} 
  {% block content %}
    <div class="home-container md-typeset">
      <div class="hero-gradient">
        <div class="hero-section">
          <div class="hero-content">
            <div>
              <h1>Launch quickly with Polkadot's developer resources</h1>
              <p>Access all the resources to go from setup to deployment—whether spinning up a repo using the Polkadot SDK, deploying smart contracts, or launching a custom chain in record time.</p>
            </div>
            <div class="button-wrapper">
              <a href="https://polkadot.com/community" target="_blank" rel="noopener noreferrer">
                <button class="md-button">Join the community</button>
              </a>
              <a href="develop/development-pathways/">
                <button class="md-button secondary">Start building</button>
              </a>     
            </div>
          </div>
          <iframe class="hero-visual" src='https://my.spline.design/polkadotanimationv3copy-0cc020eebace663feadb0323fa301579/' frameborder='0' width='100%' height='100%'></iframe>
        </div>
      </div>

      <div class="feature-gradient">
        <div class="feature-section">
          <div class="feature-intro">
            <h2>Your complete guide to building on Polkadot</h2>
            <p>Polkadot's enhanced developer docs provide all the guidance and resources you need to launch and scale your projects within the Polkadot ecosystem.</p>
          </div>
          <div class="featured-content">
            <a class="feature" href="develop/blockchains/get-started/">
              <div class="column">
                <h3>Start building blockchains</h3>
                <p>Kickstart your journey with the foundational resources like the fundamentals of blockchain development, getting started with the Polkadot SDK, and building and deploying blockchains.</p>
              </div>
              <div class="column">
                <span class="md-icon">{% include ".icons/octicons/arrow-up-right-16.svg" %}</span>
              </div>
            </a>
            <a class="feature" href="develop/smart-contracts/">
              <div class="column">
                <h3>Smart contract development</h3>
                <p>Explore the smart contract landscape in the Polkadot ecosystem. Access tools and guides to build with ink!, Polkadot's native smart contract language, or work within EVM environments.</p>
              </div>
              <div class="column">
                <span class="md-icon">{% include ".icons/octicons/arrow-up-right-16.svg" %}</span>
              </div>
            </a>
            <a class="feature" href="polkadot-protocol/architecture/">
              <div class="column">
                <h3>Polkadot architecture</h3>
                <p>Unlock the potential of Polkadot’s multi-chain architecture. Explore everything from an overview of the Polkadot Protocol to in-depth insights on parachain and system chains implementations, and discover how Polkadot's flexible tech stack empowers you to build without limits.</p>
              </div>
              <div class="column">
                <span class="md-icon">{% include ".icons/octicons/arrow-up-right-16.svg" %}</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      
      <div class="cta-gradient">
        <div class="cta-section">
          <div class="final-cta">
            <div class="final-cta-content">
            <h2>What are you waiting for?</h2>
            <p>Get hands-on experience with Polkadot's in-depth tutorials. Covering everything from blockchain basics to advanced skills, our tutorials help you build expertise and start creating with confidence.</p>
            <a href="tutorials/">
              <button class="md-button secondary">See tutorials</button>
            </a>
          </div>
        </div>
      </div>
      </div>
    </div>
  {% endblock %}
{%- endblock -%} 
