/**
  General styles
**/

:root {
  --home-page-gap: 4em;
}

/* Font styling */
.md-typeset h1,
.md-typeset h2 {
  font-weight: 400;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: var(--home-page-gap);
  width: 100%;
}

.md-typeset a {
  text-decoration: none;
}

.md-typeset img {
  box-shadow: none;
}

.md-footer-meta {
  margin-top: 0;
}

/**
  Hero section styles
**/

.hero-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5em;
  max-width: 66%;
  margin: 0 auto;
  overflow: hidden;
}

.hero-image {
  width: 340px;
  height: auto;
  object-fit: cover;
}

.hero-content {
  flex: 1;
  color: var(--md-default-fg-color);
}

.md-typeset .hero-content h1 {
  font-size: 2.773rem;
  margin-bottom: 0.5em;
  line-height: 1;
}

.hero-content p {
  font-size: 18px;
}

/**
  Feature section styles
**/

.featured-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px;
  margin: auto;
  margin-bottom: var(--home-page-gap);
  width: 90%;
}

div.feature {
  flex: 1 1;
  border: 1px solid var(--footer-border-color);
  border-radius: 16px;
  padding: 32px;
  display: flex;
  gap: 36px;
}

div.feature {
  flex-direction: column;
}

div.feature {
  gap: 0.5em;
}

.feature h2 {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 0;
  padding-bottom: 0.6em;
  color: var(--md-default-fg-color);
  border-bottom: 1px solid var(--footer-border-color);
}

.feature h2 .twemoji {
  width: 32px;
  height: 32px;
  background: var(--pink);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature h2 .twemoji svg {
  width: 20px;
  height: 20px;
}

.feature a {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  color: var(--md-default-fg-color);
}

.md-typeset .feature a .twemoji {
  margin-top: 0.25em;
}

/**
  Smaller screen styles
**/

@media screen and (max-width: 1555px) {
  .featured-content {
    width: 100%;
  }
}

@media screen and (max-width: 1400px) {
  .hero-section {
    max-width: 80%;
  }
}

@media screen and (max-width: 1272px) {
  div.feature {
    min-width: 40%;
  }

  .hero-section {
    gap: 3em;
  }

  .featured-content {
    justify-content: center;
    gap: 24px;
  }
}

@media screen and (max-width: 66.2344em) {
  .home-container {
    gap: 3em;
  }

  .hero-section {
    flex-wrap: wrap;
    max-width: unset;
  }

  .hero-section img {
    width: 250px;
  }
}

@media screen and (max-width: 819px) {
  .md-typeset .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 16px;
  }
}

@media screen and (max-width: 672px) {
  .home-container {
    gap: 1.5em;
  }

  .hero-section {
    gap: 0em;
  }

  .hero-section,
  .feature-section {
    word-break: break-word;
  }

  .hero-section img {
    display: none;
  }

  div.feature {
    min-width: 100%;
    padding: 20px;
  }

  .featured-content {
    padding: 0;
    margin-bottom: 40px;
  }

  div.feature h2 {
    font-size: 1rem;
  }
}
