/**
  General styles
**/

:root {
  --home-page-gap: 2.4rem;
}

:root,
[data-md-color-scheme="default"] {
  --hero-bg: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, #fff 100%),
    linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%),
    linear-gradient(107deg, #07ffff 0%, #7916f3 100%),
    var(--md-default-bg-color);
}

[data-md-color-scheme="slate"][data-md-color-primary="indigo"] {
  --hero-bg: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, #000 100%),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%),
    linear-gradient(107deg, #07ffff 0%, #7916f3 100%),
    var(--md-default-bg-color);
}

body {
  position: relative;
  overflow: hidden; /* optional but prevents edge artifacts */
  background-color: var(--md-default-bg-color);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: var(--hero-bg);
  background-repeat: no-repeat;
  background-size: 100% 670px;
  background-attachment: fixed;
  transform: scaleX(-1);
  transform-origin: center;
  z-index: -1;
}

.md-typeset h1,
.md-typeset h2 {
  font-weight: 400;
}

.md-typeset a {
  text-decoration: none;
}

.md-main__inner {
  margin-top: 1.4rem;
}

.md-footer,
.md-footer-meta {
  background-color: transparent;
}

.md-footer-meta {
  margin-top: 0;
}

.md-typeset img {
  box-shadow: none;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: var(--home-page-gap);
  width: 100%;
}

/**
  Hero section styles
**/

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5em;
  max-width: 85%;
  margin: 0 auto;
}

.hero-image {
  width: 340px;
  height: auto;
  object-fit: cover;
}

.hero-content {
  flex: 1;
  color: var(--md-default-fg-color);
  max-width: 50%;
}

.md-typeset .hero-content h1 {
  font-size: 2.773rem;
  margin-bottom: 0.5em;
  line-height: 1;
  font-weight: 600;
}

.hero-content p {
  font-size: 18px;
}

/**
  Feature section styles
**/

.featured-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px;
  margin: auto;
  margin-bottom: var(--home-page-gap);
  width: 85%;
}

div.feature {
  flex: 1 1;
  background-color: var(--md-default-bg-color);
  border: 1px solid var(--footer-border-color);
  border-radius: 16px;
  padding: 32px;
  display: flex;
  gap: 36px;
}

div.feature {
  flex-direction: column;
}

div.feature {
  gap: 0.5em;
}

.feature h2 {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 0;
  padding-bottom: 0.6em;
  color: var(--md-default-fg-color);
  border-bottom: 1px solid var(--footer-border-color);
}

.feature h2 .twemoji {
  width: 32px;
  height: 32px;
  background: var(--pink);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature h2 .twemoji svg {
  width: 20px;
  height: 20px;
}

.feature a {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  color: var(--md-default-fg-color);
}

.md-typeset .feature a .twemoji {
  margin-top: 0.25em;
}

/**
  Smaller screen styles
**/

@media screen and (max-width: 1555px) {
  .hero-section {
    max-width: 100%;
  }

  .featured-content {
    width: 100%;
  }
}

@media screen and (max-width: 1272px) {
  div.feature {
    min-width: 40%;
  }

  .featured-content {
    justify-content: center;
    gap: 24px;
  }
}

@media screen and (max-width: 66.2344em) {
  .hero-section {
    flex-wrap: wrap;
    max-width: unset;
  }
}

@media screen and (max-width: 973px) {
  .home-container {
    margin-top: 1rem;
  }

  .md-typeset .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 16px;
  }

  .md-typeset img.hero-image {
    width: 250px;
  }
}

@media screen and (max-width: 725px) {
  .home-container {
    gap: 1.5em;
  }

  .hero-section {
    gap: 0em;
    padding: 0;
  }

  .md-typeset img.hero-image {
    display: none;
  }

  .hero-section,
  .feature-section {
    word-break: break-word;
  }

  .hero-content {
    max-width: unset;
  }

  div.feature {
    min-width: 100%;
    padding: 20px;
  }

  .featured-content {
    padding: 0;
    margin-bottom: 40px;
  }

  div.feature h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 345px) {
  .md-typeset .hero-content h1 {
    font-size: 1.9rem;
  }
}
