[data-md-color-scheme="custom-light"] {
  --grain-filter: invert(1) brightness(1);
}

[data-md-color-scheme="custom-dark"] {
  --grain-filter: brightness(1);
  /* normal grain on dark mode */
}

/*--- General ---*/
.md-typeset a {
  text-decoration: none;
}

/*--- Layout ---*/
.md-main__inner.md-grid {
  max-width: unset;
  display: block;
  margin-top: 0;
}

.md-grid.column {
  gap: 64px;
  margin-top: 64px;
  margin-bottom: 64px;
}

/*--- Hero Section ---*/
/* Section */
.hero-section {
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Grain background */
.grain-canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  filter: var(--grain-filter);
}

/* Content container */
.hero-content {
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 64rem;
  /* 4xl */
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

/* Headline */
.hero-content h1 {
  font-family: serif;
  font-size: var(--text-6xl);
  letter-spacing: -0.015em;
  /* tracking-tight */
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .hero-content h1 {
    font-size: var(--text-7xl);
  }
}

@media (min-width: 1024px) {
  .hero-content h1 {
    font-size: var(--text-8xl);
  }
}

/* Tagline */
.hero-content p.tagline {
  font-family: sans-serif;
  font-weight: 300;
  font-size: var(--text-xl);
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .hero-content p.tagline {
    font-size: var(--text-2xl);
  }
}

@media (min-width: 1024px) {
  .hero-content p.tagline {
    font-size: var(--text-3xl);
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.button-wrapper a {
  flex: 1;
  max-width: 259px;
  min-width: 259px;
}

.md-typeset .md-button {
  width: 100%;
  justify-content: center;
}

/*--- Feature section ---*/
.feature-section {
  gap: 32px;
}

.feature-section h2 {
  text-align: center;
  margin: 0;
}

.featured-content {
  gap: 24px;
}

.title-row {
  justify-content: space-between;
  align-items: center;
}

.card {
  padding: var(--py-8);
  border-radius: var(--rounded-2xl);
  gap: 12px;
  width: 33%;
}

.md-typeset .card * {
  margin: 0;
}

.card p {
  width: 90%;
}

.card .column {
  gap: 32px;
}
