[data-termynal] {
    width: 750px;
    max-width: 100%;
    background: #101010;
    color: #eee;
    font-size: 13px;
    font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
    border-radius: 4px;
    padding: 50px 30px 20px;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

[data-termynal]:before {
    content: '';
    position: absolute;
    top: 13px;
    left: 13px;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #d9515d;
    -webkit-box-shadow: 22.5px 0 0 #f4c025, 45px 0 0 #3ec930;
            box-shadow: 22.5px 0 0 #f4c025, 45px 0 0 #3ec930;
}

[data-termynal]:after {
    content: 'bash';
    position: absolute;
    color: #a2a2a2;
    top: 6px;
    left: 0;
    width: 100%;
    text-align: center;
}

[data-ty] {
    display: block;
    line-height: 1.25;
    overflow-wrap: break-word;
    white-space-collapse: preserve;
}

[data-ty]:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
}

[data-ty="input"]:before,
[data-ty-prompt]:before {
    color: var(--pink);
    content: 'papermoon@ubuntu-jammy:';
    size: 12px;
}

.file-path:before {
    content: '~$';
    color: var(--blue);
    margin-right: 0.75em;
}

[data-ty][data-ty-prompt]:before {
    content: attr(data-ty-prompt);
}

.md-typeset .table-termynal table:not([class]) {
    border: none;
}

.md-typeset .table-termynal .md-typeset__table table th.left-header {
    border-bottom: .05rem solid rgba(255,255,255,.1);
    border-right: .05rem solid rgba(255,255,255,.1);
    border-color: rgba(255,255,255,.1);
    background-color: var(--black);
}

.md-typeset .table-termynal .md-typeset__table table th.center-header {
    text-align: center;
    width: 100%;
    color: var(--white);
    background-color: var(--pink);
    padding: 0 22% 0 0;
}

.md-typeset .table-termynal table:not([class]) td {
    background-color: var(--black);
    border-color: rgba(255,255,255,.1);
}